In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

table = pd.read_csv('Social_Network_Ads.csv')
X = table.iloc[:,0:2].values
y = table.iloc[:,2:].values
table

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix, accuracy_score

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2, random_state = 0)
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

model = SVC(kernel = 'poly',degree = 3)
model.fit(X_train,y_train)
pred = model.predict(X_test)

#Specific Output
# model.predict(sc.transform([[30,87000],]))[0]
print("accuracy is ",accuracy_score(y_test, pred))
confusion_matrix(y_test, pred)

accuracy is  0.9125

C:\Users\amanj\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

array([[58,  0],
       [ 7, 15]], dtype=int64)